.header {
    background-color: rgb(139, 208, 240);
    text-align: center;
    height: 100px;
}
.undheader {
    background-color: rgb(139, 208, 240);
    text-align: center;
    height: 50px;
    margin-bottom: 0px;
    padding-bottom: 0;
}
.right {
    float: right;
    margin-top: 30px;
}
.nolink a {
    text-decoration: none !important;
    color: white !important;
}